---
automation_hub_token: TOKEN
aap_hostname: https://inra-aap-aap.apps.cluster-gljn2.dynamic.redhatworkshops.io/
aap_token: AAP_TOKEN
  # aap_hostname: ansible-controller-web-svc-test-project.example.com
  # aap_username: admin
  # aap_password: changeme
